<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <!-- <%= include('common/header'); %> here '='' means we nare loading js file--> 
    <!-- <%- include('common/header'); %>  this means we are loading html file -->
    <%- include('common/header'); %> 
    <h1>This is a login Page</h1>
    
</body>
</html>